# Demo de funciones AEMET

Este notebook carga las funciones del paquete y muestra lo que devuelven.

> Configura tu API key en la variable de entorno `AEMET_API_KEY` antes de ejecutar.

## 1. Import Required Libraries and Load Functions

In [2]:
import os

API_KEY = ("eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0")
if not API_KEY:
    print("‚ö†Ô∏è Falta AEMET_API_KEY. Define la variable de entorno para ejecutar los ejemplos.")

In [3]:
import asyncio
from datetime import datetime, timedelta
import pandas as pd

## 2. Avisos

In [6]:
from aemetdata.avisos import avisos_area_ultimo_eleaborado
ruta = await avisos_area_ultimo_eleaborado("72", [API_KEY])
print(f"Archivo guardado: {ruta}")

üîç Solicitando avisos para √°rea 72 (Madrid, Comunidad de)
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/avisos_cap/ultimoelaborado/area/72?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando archivo tar.gz de avisos CAP desde URL de AEMET
Archivo guardado: avisos_area_72_20260218122632.tar.gz

In [5]:
# Descargar archivos tar.gz de avisos por fechas
from aemetdata.avisos import avisos_por_fechas
rutas = await avisos_por_fechas('2026-01-01', '2026-01-04', [API_KEY])
print('Archivos guardados:')
for ruta in rutas:
    print(ruta)

üîç Solicitando avisos CAP desde 2026-01-01T00:00:00UTC a 2026-01-02T23:59:59UTC
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/avisos_cap/archivo/fechaini/2026-01-01T00:00:00UTC/fechafin/2026-01-02T23:59:59UTC?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando archivo tar.gz de avisos CAP desde URL de AEMET
üîç Solicitando avisos CAP desde 2026-01-03T00:00:00UTC a 2026-01-04T23:59:59UTC
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/avisos_cap/archivo/fechaini/2026-01-03T00:00:00UTC/fechafin/2026-01-04T23:59:59UTC?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando archivo tar.gz de avisos CAP desde URL de AEMET
Archivos guardados:
avisos_2026-01-01_2026-01-02.tar.gz
avisos_2026-01-03_2026-01-04.tar.gz

## 3. Climatolog√≠a

### 3.1 Climatolog√≠a mensual

In [ ]:
from aemetdata.climatologia import datos_mensuales
resultado = await datos_mensuales(["3195","3427Y"], 2020, 2024, [API_KEY])
print(f"Tipo: {type(resultado)}")
pd.DataFrame(resultado)

üîç Solicitando climatolog√≠a mensual para estaci√≥n 3195 entre 2020 y 2022
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2020/aniofin/2022/estacion/3195?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a mensual desde URL de AEMET: https://opendata.aemet.es/opendata/sh/fa7a45fc
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/fa7a45fc
‚úÖ Datos de climatolog√≠a mensual descargados exitosamente para estaci√≥n 3195
üîç Solicitando climatolog√≠a mensual para estaci√≥n 3195 entre 2023 y 2024
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2023/aniofin/2024/estacion/3195?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a mensual desde URL de AEMET: https://opendata.aemet.es/opendata/sh/b0b0c2d9
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/b0b0c2d9
‚úÖ Datos de climatolog√≠a mensual descargados exitosamente para estaci√≥n 3195
üîç Solicitando climatolog√≠a mensual para estaci√≥n 3427Y entre 2020 y 2022
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2020/aniofin/2022/estacion/3427Y?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a mensual desde URL de AEMET: https://opendata.aemet.es/opendata/sh/c5bfd7f4
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/c5bfd7f4
‚úÖ Datos de climatolog√≠a mensual descargados exitosamente para estaci√≥n 3427Y
üîç Solicitando climatolog√≠a mensual para estaci√≥n 3427Y entre 2023 y 2024
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2023/aniofin/2024/estacion/3427Y?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a mensual desde URL de AEMET: https://opendata.aemet.es/opendata/sh/19da6be9
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/19da6be9
‚úÖ Datos de climatolog√≠a mensual descargados exitosamente para estaci√≥n 3427Y
Tipo: <class 'list'>

,indicativo,p_max,hr,n_gra,n_fog,tm_min,ta_max,ts_min,nt_30,np_100,...,nv_0050,n_des,w_racha,n_nub,nw_91,w_rec,nv_1000,evap,w_med,nv_0100
0,3195,24.2(20),61,0,0,9.2,25.4(09),14.5,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3195,20.0(06),79,0,3,8.1,19.4(01),11.5,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3195,4.5(07),74,0,0,4.3,15.0(11),11.9,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3195,37.8(31/may),NaN,1,6,11.1,39.4(27/jul),25.4,84,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3195,5.4(24),66,0,1,3.6,15.7(31),9.9,0,0,...,0,11,06/20.8(19),9,0,160,1,358,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,3427Y,13.2(05),54,NaN,NaN,7.5,37.4(30),18.4,8,1,...,NaN,10,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN
126,3427Y,10.6(10),51,NaN,NaN,14.5,37.2(06),23.4,20,1,...,NaN,10,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN
127,3427Y,0.0(--),34,NaN,NaN,15.8,43.1(24),23.8,31,0,...,NaN,23,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN
128,3427Y,0.0(--),34,NaN,NaN,17.6,42.9(09),23.1,31,0,...,NaN,19,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN
129,3427Y,8.0(19),48,NaN,NaN,12.1,34.8(02),17.5,15,0,...,NaN,16,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN

### 3.2 Climatolog√≠a diaria

In [4]:
from aemetdata.climatologia import datos_diarios
# Ejemplo: dos estaciones, rango de fechas (solo AAAA-MM-DD)
resultado = await datos_diarios(["3195","3427Y"], '2022-01-01', '2022-08-10', [API_KEY])
print(f'Tipo: {type(resultado)}')
pd.DataFrame(resultado)

üîç Solicitando climatolog√≠a diaria para estaci√≥n 3195 entre 2022-01-01T00:00:00UTC y 2022-06-30T23:59:59UTC
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-01-01T00:00:00UTC/fechafin/2022-06-30T23:59:59UTC/estacion/3195?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a diaria desde URL de AEMET: https://opendata.aemet.es/opendata/sh/6aa70e3e
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/6aa70e3e
‚úÖ Datos de climatolog√≠a diaria descargados exitosamente para estaci√≥n 3195
üîç Solicitando climatolog√≠a diaria para estaci√≥n 3195 entre 2022-07-01T00:00:00UTC y 2022-08-10T23:59:59UTC
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-07-01T00:00:00UTC/fechafin/2022-08-10T23:59:59UTC/estacion/3195?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a diaria desde URL de AEMET: https://opendata.aemet.es/opendata/sh/6e6658e8
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/6e6658e8
‚úÖ Datos de climatolog√≠a diaria descargados exitosamente para estaci√≥n 3195
üîç Solicitando climatolog√≠a diaria para estaci√≥n 3427Y entre 2022-01-01T00:00:00UTC y 2022-06-30T23:59:59UTC
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-01-01T00:00:00UTC/fechafin/2022-06-30T23:59:59UTC/estacion/3427Y?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a diaria desde URL de AEMET: https://opendata.aemet.es/opendata/sh/8e7ebb54
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/8e7ebb54
‚úÖ Datos de climatolog√≠a diaria descargados exitosamente para estaci√≥n 3427Y
üîç Solicitando climatolog√≠a diaria para estaci√≥n 3427Y entre 2022-07-01T00:00:00UTC y 2022-08-10T23:59:59UTC
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2022-07-01T00:00:00UTC/fechafin/2022-08-10T23:59:59UTC/estacion/3427Y?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando datos de climatolog√≠a diaria desde URL de AEMET: https://opendata.aemet.es/opendata/sh/f0c161e7
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/f0c161e7
‚úÖ Datos de climatolog√≠a diaria descargados exitosamente para estaci√≥n 3427Y
Tipo: <class 'list'>

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,dir,velmedia,racha,horaracha
0,2022-01-01,3195,"MADRID, RETIRO",MADRID,667,"11,1","0,0","5,5",07:10,"16,7",...,14,51,85,02:10,29,13:40,NaN,NaN,NaN,NaN
1,2022-01-02,3195,"MADRID, RETIRO",MADRID,667,"9,8","0,0","5,1",07:40,"14,5",...,16,67,87,23:40,51,15:50,NaN,NaN,NaN,NaN
2,2022-01-03,3195,"MADRID, RETIRO",MADRID,667,"9,7","0,0","5,6",07:30,"13,8",...,24,81,96,23:50,68,13:50,NaN,NaN,NaN,NaN
3,2022-01-04,3195,"MADRID, RETIRO",MADRID,667,"8,6","7,3","5,2",05:30,"12,1",...,15,86,99,Varias,68,Varias,NaN,NaN,NaN,NaN
4,2022-01-05,3195,"MADRID, RETIRO",MADRID,667,"6,6","5,0","4,3",04:20,"8,9",...,21,77,99,20:50,54,14:10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,2022-08-06,3427Y,OROPESA,TOLEDO,345,"27,8",NaN,"16,5",04:06,"39,1",...,NaN,27,58,03:50,17,14:20,NaN,NaN,NaN,NaN
439,2022-08-07,3427Y,OROPESA,TOLEDO,345,"27,4",NaN,"16,4",05:02,"38,5",...,NaN,30,59,05:30,18,17:00,NaN,NaN,NaN,NaN
440,2022-08-08,3427Y,OROPESA,TOLEDO,345,"26,8",NaN,"14,6",05:45,"39,0",...,NaN,29,59,Varias,18,15:50,NaN,NaN,NaN,NaN
441,2022-08-09,3427Y,OROPESA,TOLEDO,345,"28,3",NaN,"15,7",05:18,"40,9",...,NaN,31,74,23:20,17,13:50,NaN,NaN,NaN,NaN
442,2022-08-10,3427Y,OROPESA,TOLEDO,345,"29,8",NaN,"20,2",06:04,"39,4",...,NaN,41,85,06:10,24,Varias,NaN,NaN,NaN,NaN

### 3.3 Valores normales 
Valores climatol√≥gicos normales (periodo 1991-2020) para la estaci√≥n pasada por par√°metro. Periodicidad: 1 vez al d√≠a.

In [ ]:
from aemetdata.climatologia import datos_normales

# Valores normales
resultado_normales = await datos_normales(["3195","3427Y"], [API_KEY])
print(f"Tipo: {type(resultado_normales)}")
import pandas as pd
pd.DataFrame(resultado_normales)

üîç Solicitando valores normales para estaci√≥n 3195
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/normales/estacion/3195?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando valores normales desde URL de AEMET: https://opendata.aemet.es/opendata/sh/37f2e524
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/37f2e524
‚úÖ Valores normales descargados exitosamente para estaci√≥n 3195
üîç Solicitando valores normales para estaci√≥n 3427Y
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/normales/estacion/3427Y?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando valores normales desde URL de AEMET: https://opendata.aemet.es/opendata/sh/f0758ea4
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/f0758ea4
‚úÖ Valores normales descargados exitosamente para estaci√≥n 3427Y
Tipo: <class 'list'>

,indicativo,w_racha_max,np_010_n,np_010_s,q_max_s,n_tor_n,n_tor_s,q_max_n,tm_min_q4,tm_min_q1,...,n_nie_min,nt_30_q4,q_med_q4,n_cub_md,n_cub_mn,ta_max_min,np_010_max,inso_md,inso_mn,evap_mn
0,3195,23.3,30,3.61,4.09,30,0.25,30,4.0,1.9,...,0.0,0.0,947.8,8.7,9.0,12.1,14.0,,,314.0
1,3195,26.1,30,3.13,3.35,30,0.35,30,5.4,2.5,...,0.0,0.0,946.1,6.1,6.0,14.0,13.0,,,463.0
2,3195,23.3,30,4.29,3.7,30,0.72,29,6.8,5.5,...,0.0,0.0,942.9,6.4,5.5,17.7,18.0,6.7,6.9,782.0
3,3195,24.4,30,3.2,2.57,30,1.0,29,9.3,6.9,...,0.0,0.0,939.1,7.0,6.0,21.7,13.0,,,839.0
4,3195,21.4,30,3.98,2.71,30,2.23,29,13.2,10.8,...,0.0,5.0,939.7,6.1,6.0,26.0,19.0,,,1031.0
5,3195,21.9,30,2.35,1.76,30,2.13,29,17.4,15.5,...,0.0,18.0,940.8,2.6,2.0,30.6,10.0,,,1586.0
6,3195,28.1,30,1.61,1.81,30,1.67,29,20.7,18.3,...,0.0,30.0,940.3,0.5,0.0,35.0,8.0,,,2001.0
7,3195,25.0,30,1.7,1.9,30,1.53,29,20.3,18.7,...,0.0,26.0,940.2,1.0,1.0,34.0,7.0,,,1872.0
8,3195,23.1,30,2.29,2.06,30,1.07,29,16.6,14.6,...,0.0,10.2,941.6,2.8,3.0,29.4,8.0,,,1178.0
9,3195,20.0,30,3.57,2.06,30,0.8,29,12.3,9.8,...,0.0,0.0,942.0,7.1,6.0,22.2,16.0,,,698.0
10,3195,23.9,30,4.37,2.98,30,0.0,30,7.7,5.3,...,0.0,0.0,943.0,7.6,8.0,16.5,15.0,,,375.0
11,3195,21.1,30,4.47,4.24,30,0.18,29,4.9,2.8,...,0.0,0.0,946.9,9.0,8.0,13.4,17.0,,,296.0
12,3195,,30,12.11,3.11,30,5.17,28,11.0,10.0,...,0.0,84.0,941.0,65.6,63.0,36.3,86.0,,,11081.0
13,3427Y,,6,,,0,,0,,,...,,,,,,,,,,
14,3427Y,,7,,,0,,0,,,...,,,,,,,,,,
15,3427Y,,9,,,0,,0,,,...,,,,,,,,,,
16,3427Y,,7,,,0,,0,,,...,,,,,,,,,,
17,3427Y,,7,,,0,,0,,,...,,,,,,,,,,
18,3427Y,,9,,,0,,0,,,...,,,,,,,,,,
19,3427Y,,8,,,0,,0,,,...,,,,,,,,,,
20,3427Y,,10,,,0,,0,,,...,,,,,,,,,,
21,3427Y,,8,,,0,,0,,,...,,,,,,,,,,
22,3427Y,,7,,,0,,0,,,...,,,,,,,,,,
23,3427Y,,7,,,0,,0,,,...,,,,,,,,,,
24,3427Y,,7,,,0,,0,,,...,,,,,,,,,,
25,3427Y,,1,,,0,,0,,,...,,,,,,,,,,

### 3.4 Valores extremos
Valores extremos para la estaci√≥n  (precipitaci√≥n, temperatura y viento). Periodicidad: 1 vez al d√≠a.

In [4]:
from aemetdata.climatologia import datos_extremos


# Valores extremos con par√°metro personalizado
resultado_extremos_T = await datos_extremos(["3195","3427Y"], [API_KEY], parametro="T")
print(f"Tipo: {type(resultado_extremos_T)}")
pd.DataFrame(resultado_extremos_T)

üîç Solicitando valores extremos para estaci√≥n 3195, par√°metro T
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/valoresextremos/parametro/T/estacion/3195?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando valores extremos desde URL de AEMET: https://opendata.aemet.es/opendata/sh/7a0ff521
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/7a0ff521
‚úÖ Valores extremos descargados exitosamente para estaci√≥n 3195, par√°metro T
üîç Solicitando valores extremos para estaci√≥n 3427Y, par√°metro T
Accediendo Base datos AEMET
üîÑ Ciclo 1 de 3
Probando endpoint: https://opendata.aemet.es/opendata/api/valores/climatologicos/valoresextremos/parametro/T/estacion/3427Y?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjcGFjaGVjby5wZXJlbGxvQGdtYWlsLmNvbSIsImp0aSI6IjE2ZGQxZjJlLTJkMWYtNGI3NS1hYjQ0LWEzNTNhNmQyMjU0NiIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNzY4MzgzMjcwLCJ1c2VySWQiOiIxNmRkMWYyZS0yZDFmLTRiNzUtYWI0NC1hMzUzYTZkMjI1NDYiLCJyb2xlIjoiIn0.4eP7KwIbUfdq91ZrcPYEwPhUgPN1sUhCyIZdrieHnc0
‚úîÔ∏è Datos obtenidos con la clave 1.
‚ú® Descargando valores extremos desde URL de AEMET: https://opendata.aemet.es/opendata/sh/ccbc54f9
üì• Descargando JSON desde: https://opendata.aemet.es/opendata/sh/ccbc54f9
‚úÖ Valores extremos descargados exitosamente para estaci√≥n 3427Y, par√°metro T
Tipo: <class 'list'>

,indicativo,nombre,ubicacion,codigo,temMin,diaMin,anioMin,mesMin,temMax,diaMax,...,mesMedBaja,temMedAlta,anioMedAlta,mesMedAlta,temMedMin,anioMedMin,mesMedMin,temMedMax,anioMedMax,mesMedMax
0,3195,"MADRID, RETIRO",MADRID,023000,"[-101, -91, -51, -16, 6, 44, 85, 92, 40, -4, -...","[16, 12, 1, 13, 10, 3, 19, 30, 29, 8, 22, 26, 16]","[1945, 1956, 2005, 1986, 1951, 1984, 1932, 193...",1,"[199, 220, 267, 309, 355, 407, 407, 407, 389, ...","[27, 28, 30, 28, 13, 28, 14, 14, 6, 6, 1, 1, 14]",...,2,"[84, 109, 147, 173, 206, 271, 298, 287, 242, 1...","[2024, 2020, 1997, 2023, 2022, 2025, 2015, 202...",7,"[-16, -26, 4, 43, 63, 116, 147, 151, 113, 64, ...","[1945, 1956, 1925, 1986, 1984, 1923, 1977, 193...",2,"[121, 160, 209, 238, 272, 338, 368, 355, 303, ...","[1983, 2000, 1997, 2023, 2015, 2025, 2022, 193...",7
1,3427Y,OROPESA,TOLEDO,023000,"[-88, -95, -72, -25, 3, 35, 70, 85, 42, -8, -7...","[12, 12, 2, 3, 13, 1, 7, 31, 25, 29, 30, 8, 12]","[2021, 2012, 2023, 2022, 2018, 2013, 2021, 202...",2,"[208, 236, 274, 343, 374, 432, 447, 436, 429, ...","[26, 22, 14, 27, 30, 28, 14, 10, 6, 1, 1, 7, 14]",...,1,"[86, 105, 117, 160, 196, 254, 286, 282, 243, 1...","[2024, 2021, 2024, 2023, 2022, 2017, 2022, 202...",7,"[-19, -20, 12, 47, 67, 116, 140, 136, 105, 64,...","[2022, 2018, 2016, 2022, 2013, 2019, 2021, 201...",2,"[143, 176, 201, 263, 287, 353, 397, 388, 334, ...","[2022, 2022, 2019, 2023, 2022, 2025, 2022, 202...",7